<div>
  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 1</h1>
    </div>
       <p class="panel-body" >
         Have you kept a New Year’s resolution where you weren’t accountable to anyone — a resolution like drinking more water or keeping a journal?
       </p>

    <ul class="responseList">
      <li><label>{{radio-button name="qr1" value='upholder' checked=questionResponse1 }} Sure. I’m good keeping New Year’s resolutions, even ones that no one knows about but me.</label></li>
      <li><label>{{radio-button  name="qr1" value='questioner' checked=questionResponse1 }} Yes, but I never make New Year’s resolutions, because Jan. 1 is an arbitrary date.</label></li>
      <li><label>{{radio-button  name="qr1" value='obliger' checked=questionResponse1 }}  I have had trouble with that kind of resolution, so I’m not inclined to make one, whether at the start of the year or any time. When I’m only helping myself, I often struggle.</label></li>
      <li><label>{{radio-button  name="qr1" value='rebel' checked=questionResponse1 }}  No. I hate to bind myself in any way.</label></li>
  </ul>
  </div>

  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 2</h1>
    </div>
       <p class="panel-body" >
         Recall a time when you signed up to do something optional. Did you actually show up regularly?
       </p>
       <ul class="responseList">
         <li><label>{{radio-button name="qr2" value='upholder' checked=questionResponse2 }} Yes, if I signed up.</label></li>
         <li><label>{{radio-button  name="qr2" value='questioner' checked=questionResponse2 }} Only if I thought it was a good use of my time.</label></li>
         <li><label>{{radio-button  name="qr2" value='obliger' checked=questionResponse2 }}  I was more likely to go if someone was disappointed or annoyed if I didn’t show up.</label></li>
         <li><label>{{radio-button  name="qr2" value='rebel' checked=questionResponse2 }} Only if I felt like it.</label></li>
     </ul>
  </div>

  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 3</h1>
    </div>
       <p class="panel-body" >
         Your workplace is required to hold a large training meeting every six months. Employees are supposed to go, but no one takes attendance. You have been several times, and the information doesn’t apply to you. Do you…
       </p>
       <ul class="responseList">
         <li><label>{{radio-button name="qr3" value='obliger' checked=questionResponse3 }} Skip the meeting, unless my department will look bad if no one shows up</label></li>
         <li><label>{{radio-button  name="qr3" value='questioner' checked=questionResponse3 }} Skip the meeting, because it’s pointless and a waste of time</label></li>
         <li><label>{{radio-button  name="qr3" value='rebel' checked=questionResponse3 }}  Skip the meeting, because I don’t want to go.</label></li>
         <li><label>{{radio-button  name="qr3" value='upholder' checked=questionResponse3 }}  Attend the meeting, even if no one will know whether I go or not.</label></li>
     </ul>
  </div>

  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 4</h1>
    </div>
       <p class="panel-body" >
         About commitments to yourself, do you feel that…
       </p>
       <ul class="responseList">
         <li><label>{{radio-button name="qr4" value='upholder' checked=questionResponse4 }} Once I have committed to something, it makes me very uneasy not to carry through, even if no one else cares.</label></li>
         <li><label>{{radio-button  name="qr4" value='questioner' checked=questionResponse4 }} Before I make a commitment for myself, I require extensive evidence of its validity.</label></li>
         <li><label>{{radio-button  name="qr4" value='obliger' checked=questionResponse4 }}  If commitments are just for me, I might not follow through — though if someone else depends on them, I will follow through.</label></li>
         <li><label>{{radio-button  name="qr4" value='rebel' checked=questionResponse4 }}  I make as few commitments as possible.</label></li>
     </ul>
  </div>

  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 5</h1>
    </div>
       <p class="panel-body" >
         At times, we feel frustrated by ourselves. Are you most likely to feel frustrated because…
       </p>
       <ul class="responseList">
         <li><label>{{radio-button name="qr5" value='questioner' checked=questionResponse5 }} I get “analysis paralysis” and want more information before making a decision.</label></li>
         <li><label>{{radio-button  name="qr5" value='rebel' checked=questionResponse5 }} As soon as someone expects me to do something, I don’t want to do it.</label></li>
         <li><label>{{radio-button  name="qr5" value='obliger' checked=questionResponse5 }}  I can take time for other people, but I can’t take time for myself.</label></li>
         <li><label>{{radio-button  name="qr5" value='upholder' checked=questionResponse5 }}  I can’t take a break from my usual habits, or violate the rules, even when I want to.</label></li>
     </ul>
  </div>

  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 6</h1>
    </div>
       <p class="panel-body" >
         If you are working on a project for fun, one that matters only to you, is it easy for you to get it done?
       </p>
       <ul class="responseList">
         <li><label>{{radio-button name="qr6" value='rebel' checked=questionResponse6 }} It might be hard to finish, because I willl work on the project only when I feel like it.</label></li>
         <li><label>{{radio-button  name="qr6" value='upholder' checked=questionResponse6 }} Yes.</label></li>
         <li><label>{{radio-button  name="qr6" value='obliger' checked=questionResponse6 }}  No, because my priorities often get shoved aside for other people’s priorities.</label></li>
         <li><label>{{radio-button  name="qr6" value='questioner' checked=questionResponse6 }}  Yes, if I have a good reason for finishing it.</label></li>
     </ul>
  </div>

  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 7</h1>
    </div>
       <p class="panel-body" >
         When you’ve formed a healthy habit in the past, what helped you stick to it?
       </p>
       <ul class="responseList">
         <li><label>{{radio-button name="qr7" value='upholder' checked=questionResponse7 }} My decision to do it — even if no one else cared</label></li>
         <li><label>{{radio-button  name="qr7" value='questioner' checked=questionResponse7 }} The knowledge that research showed that the habit would benefit me.</label></li>
         <li><label>{{radio-button  name="qr7" value='obliger' checked=questionResponse7 }}  The involvement of other people who helped me stick to the habit.</label></li>
         <li><label>{{radio-button  name="qr7" value='rebel' checked=questionResponse7 }} I usually don’t choose to make habits.</label></li>
     </ul>
  </div>

  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 8</h1>
    </div>
       <p class="panel-body" >
         You have started to work in an office that has a rule that people should wear collared shirts on Fridays. However, the office doesn’t enforce the rule. How do you respond?
       </p>
       <ul class="responseList">
         <li><label>{{radio-button name="qr8" value='upholder' checked=questionResponse8 }} Wear collared shirts on Fridays</label></li>
         <li><label>{{radio-button  name="qr8" value='questioner' checked=questionResponse8 }} Email your boss to ask why the office would impose such an arbitrary rule</label></li>
         <li><label>{{radio-button  name="qr8" value='rebel' checked=questionResponse8 }}  Ignore the rule.</label></li>
         <li><label>{{radio-button  name="qr8" value='obliger' checked=questionResponse8 }}  If most people don’t wear collared shirts on Fridays, don’t worry about it.</label></li>
     </ul>
  </div>

  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 9</h1>
    </div>
       <p class="panel-body" >
         If people complain about your behavior, you would be least surprised to hear them say…
       </p>
       <ul class="responseList">
         <li><label>{{radio-button name="qr9" value='questioner' checked=questionResponse9 }} You ask too many questions.</label></li>
         <li><label>{{radio-button  name="qr9" value='obliger' checked=questionResponse9 }} You never take any time for yourself.</label></li>
         <li><label>{{radio-button  name="qr9" value='rebel' checked=questionResponse9 }}  You never do what you’re supposed to do.</label></li>
         <li><label>{{radio-button  name="qr9" value='upholder' checked=questionResponse9 }}  You’re too rigid.</label></li>
     </ul>
  </div>

  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 10</h1>
    </div>
       <p class="panel-body" >
         If you patted yourself on the back, would you be most likely to pat yourself on the back for being...
       </p>
       <ul class="responseList">
         <li><label>{{radio-button name="qr10" value='upholder' checked=questionResponse10 }} Disciplined and accomplished.</label></li>
         <li><label>{{radio-button  name="qr10" value='obliger' checked=questionResponse10 }} Trustworthy and self-sacrificing.</label></li>
         <li><label>{{radio-button  name="qr10" value='rebel' checked=questionResponse10 }}  Contrarian and authentic.</label></li>
         <li><label>{{radio-button  name="qr10" value='questioner' checked=questionResponse10 }}  Fair and well-informed.</label></li>
     </ul>
  </div>

  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 11</h1>
    </div>
       <p class="panel-body" >
         Select the answer that best describes your opinion of this statement: "People get frustrated with me, because if they ask me to do something, I’m less likely to do it (even if they’re a boss or client)."
       </p>
       <ul class="responseList">
         <li><label>{{radio-button name="qr11" value='rebelminus' checked=questionResponse11 }} Tend to Disagree</label></li>
         <li><label>{{radio-button  name="qr11" value='neutral' checked=questionResponse11}} Neutral</label></li>
         <li><label>{{radio-button  name="qr11" value='rebel' checked=questionResponse11 }}  Tend to Agree</label></li>
     </ul>
  </div>

  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 12</h1>
    </div>
       <p class="panel-body" >
         Select the answer that best describes your opinion of this statement: "I want reasons to justify the things I do; I am surprised by how often people do things for which there is little justification."
       </p>
       <ul class="responseList">
         <li><label>{{radio-button name="qr12" value='questionerminus' checked=questionResponse12 }} Tend to Disagree</label></li>
         <li><label>{{radio-button  name="qr12" value='neutral' checked=questionResponse12}} Neutral</label></li>
         <li><label>{{radio-button  name="qr12" value='questioner' checked=questionResponse12 }}  Tend to agree</label></li>
     </ul>
  </div>

  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 13</h1>
    </div>
       <p class="panel-body" >
         Select the answer that best describes your opinion of this statement: "Commitments to others should never be broken, but commitments to myself can be broken."
       </p>
       <ul class="responseList">
         <li><label>{{radio-button name="qr13" value='obligerminus' checked=questionResponse13 }} Tend to Disagree</label></li>
         <li><label>{{radio-button  name="qr13" value='neutral' checked=questionResponse13}} Neutral</label></li>
         <li><label>{{radio-button  name="qr13" value='obliger' checked=questionResponse13 }}  Tend to agree</label></li>
     </ul>
  </div>

  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 14</h1>
    </div>
       <p class="panel-body" >
         Select the answer that best describes your opinion of this statement: "Sometimes I won't do something I want to do, because someone wants me to do it."
       </p>
       <ul class="responseList">
         <li><label>{{radio-button name="qr14" value='rebelminus' checked=questionResponse14 }} Tend to Disagree</label></li>
         <li><label>{{radio-button  name="qr14" value='neutral' checked=questionResponse14}} Neutral</label></li>
         <li><label>{{radio-button  name="qr14" value='rebel' checked=questionResponse14 }}  Tend to agree</label></li>
     </ul>
  </div>

  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 15</h1>
    </div>
       <p class="panel-body" >
         Select the answer that best describes your opinion of this statement: "I’ve sometimes described myself as a people-pleaser."
       </p>
       <ul class="responseList">
         <li><label>{{radio-button name="qr15" value='obligerminus' checked=questionResponse15 }}Tend to Disagree</label></li>
         <li><label>{{radio-button  name="qr15" value='neutral' checked=questionResponse15}} Neutral</label></li>
         <li><label>{{radio-button  name="qr15" value='obliger' checked=questionResponse15 }}  Tend to agree</label></li>
     </ul>
  </div>

  <div class="panel panel-default surveyQuestionBox">
    <div class="panel-heading">
        <h1 class="panel-title">Question 16</h1>
    </div>
       <p class="panel-body" >
        Select the answer that best describes your opinion of this statement: "I don’t mind breaking rules or violating convention — I often enjoy it."
       </p>
       <ul class="responseList">
         <li><label>{{radio-button name="qr16" value='rebelminus' checked=questionResponse16 }} Tend to Disagree</label></li>
         <li><label>{{radio-button  name="qr16" value='neutral' checked=questionResponse16}} Neutral</label></li>
         <li><label>{{radio-button  name="qr16" value='rebel' checked=questionResponse16}}  Tend to agree</label></li>
     </ul>
  </div>


<div>
<p>
{{#link-to 'index' tagName="span"}}
<a href="#" class="btn btn-primary" {{action 'caculateScore'}} role="button">Submit</a>{{/link-to}}
{{#link-to 'about' tagName="span"}}<a href="#" class="btn btn-default" role="button">Cancel</a>{{/link-to}}
</p>
</div>

</div>
